Extra_4-The_other_world_at_that_time


<span>There are two hyumans at the shrine*.</span></p>

<p>&nbsp;</p>

<p><span>It is a secluded region among secluded regions, with no signs at all of anyone else’s presence. In front of a cave that was made by digging out the insides of a mountain. There is a shrine inside a dome-shaped space that resembles a crater in the sky.</span></p>

<p><span>A man and a woman. Their faces express happiness and a sense of accomplishment that they couldn't conceal even if they wanted to.</span></p>

<p><span>Upon becoming adults, they registered at the Adventurers' Guild long, long after ordinary people knock on those gates.</span></p>

<p><span>Unless they have very exceptional circumstances, most people who normally register for the guilds do so from the age of ten. Exceptional circumstances would be such as for royalty, nobles whose occupation within their country would be determined at an early age or sometimes even for successors to large companies.</span></p>

<p><span>Children living in the villages or cities treasure the specially-designed cards and comparing their own levels recorded on the cards is fun for them. In most cases, children only hunt small animals until they safely reach level 10.</span></p>

<p><span>From about level 15 onwards, they would need to put themselves in danger and face monsters, so it is difficult for children to advance further on their own. And so it is common for them to pursue other interests and take up other work once they become aware of how dangerous and tedious it is to increase their level further.</span></p>

<p><span>But these two are different. Their background falls into the category of the aforementioned "exceptional circumstances"; they didn't register themselves at the guild until they were eighteen years of age.</span></p>

<p><span>At first, they found it difficult to even take on small, weak monsters. They showed no sign of any particular talent. Still, even as the people around them disappeared and were replaced with others, they remained active adventurers.</span></p>

<p><span>They accepted requests enthusiastically and as they switched locations and persevered, they found that the people around them viewed them not with contempt, but respect and trust. They were veterans that put their experience to use in place of talent. Their pupils that shone with an unwavering, strong will were valued highly in a different way to the geniuses that simply vanished one by one.</span></p>

<p><span>The man at this shrine is level 321, while the woman is level 301.</span></p>

<p><span>These are high levels to reach for those without the talent for combat. No, this may even be the peak for such people. They have no titles, special characteristics or unique skills. They have no legendary sword blessed with good fortune or one-of-a-kind magical grimoire. They have only one thing. A firm objective. Everything associated with their rapid growth had been for that one objective.</span></p>

<p><span>「Goddess, we have completed the final trial!|(Man)</span></p>

<p><span>The man calls out to the shrine in a loud voice. Indeed, this shrine is not for a mere spirit, but a deity. It is a place for communicating with a goddess.</span></p>

<p><span>The two of them hold their breath anxiously as they watch a golden light gathering at the shrine.</span></p>

<p><span>As the light shines brightly, the goddess suddenly appears.</span></p>

<p><span>A blonde girl is sitting on the shrine's stone steps. Her pupils are deep green and her golden hair exudes a magnificence that couldn't possibly be matched by any mortal.</span></p>

<p><span>Her white, clay-like skin gives the feeling that looking at her would be breaking an inviolable taboo. Her lips, fingertips and everything else about her contribute to an absolutely perfect beauty.</span></p>

<p><span>She remains silently seated with a displeased expression.</span></p>

<p><span>「This was the last of the twelve trials, wasn't it?|(Woman)</span></p>

<p><span>The woman speaks. Not put off by the goddess's unhappy look, she asks her for confirmation.</span></p>

<p><span>「... Yes, I suppose so.|(Goddess)</span></p>

<p><span>「Then you will grant our wish, won't you?!|(Man)</span></p>

<p><span>The man makes a second confirmation.</span></p>

<p><span>A wish.</span></p>

<p><span>Indeed, the two made a wish upon this deity. The goddess gave twelve trials to this pair that wanted their wish granted. They were twelve substantially difficult trials. The goddess had not imagined for a moment that they would actually clear them.</span></p>

<p><span>Gods cannot go back on agreements made with those under their protection. This is one of the numerous unwritten laws that have been implicitly agreed upon. It is not impossible to break, but ignoring their request or changing her mind would bring about an inconvenient situation.</span></p>

<p><span>「Kanart Io, Cass Tort, your wish has not changed? You two have overcome all the trials that I have given to you. This is a remarkable accomplishment. I will grant you any kind of wish.|(Goddess)</span></p>

<p><span>The goddess begins the discussion and lists the various wishes that she is able to grant such as immortality, unmatched beauty, the royal throne, any kind of sacred treasure - the material objects that one may desire and the miracles that she can make happen.</span></p>

<p><span>However, despite the fact that they will certainly never have another opportunity like this, they do not change their minds despite the goddess's various suggestions.</span></p>

<p><span>「No, it hasn't changed.|</span></p>

<p><span>This is what they tell her.</span></p>

<p><span>「Why is that? Your wish is for the two of you to become happy, is it not? If that is the case, I can alter the memories of everyone around you to make everything proceed smoothly. Even your previous wish.|(Goddess)</span></p>

<p><span>「Goddess-sama, there would be no meaning in doing such a thing. Not having any blessings at all would be better than receiving false blessings from those around us.|(Cass)</span></p>

<p><span>As if the woman expected the goddess to say such words, she rejects her suggestion once more.</span></p>

<p><span>「Then I can simply make it as if the cause of your problems never existed. That demon will have never existed in the first place. I will erase him for you right away; if I do that, you two can go and meet the future you desire with no obstacles. What started it all was the fact that I was not aware of his actions.|(Goddess)</span></p>

<p><span>「It is indeed I who loved him. But the future that we desire, Goddess-sama, is the one that that will come after you grant our wish exactly as we have made it.|(Cass)</span></p>

<p><span>「It's just as Cass says. I, no, we became like this because we were supposed to. We will become separate from this world altogether and carry out our will.|(Kanart)</span></p>

<p><span>「I did warn you from the start, didn't I? That you might die.|(Goddess)</span></p>

<p><span>「That is not a problem.|(Kanart)</span></p>

<p><span>「Even if you were to successfully and safely complete the transfer, you will never be able to come back, you know? A hyuman's body will not last through a second transfer.|(Goddess)</span></p>

<p><span>「We have taken that into consideration.|(Kanart)</span></p>

<p><span>「That place, unlike here, is a place where even the blessings of gods do not exist, let alone magic, you know? Your prayers will never be heard.|(Goddess)</span></p>

<p><span>「Yes.|(Kanart)</span></p>

<p><span>「It is a place where the language and even the people's appearance will be different, you know?!|(Goddess)</span></p>

<p><span>「We are prepared.|(Kanart)</span></p>

<p><span>With that final exchange of words, the goddess glares at the pair of hyumans.</span></p>

<p><span>Why are they so dissatisfied? She cannot understand their way of thinking at all.</span></p>

<p><span>Born in the satellite nation of Elysion, raised as a nobleman. A man whose succession to a high political position had already been secured.</span></p>

<p><span>A woman born in the same country who rose to a high social status as one of Elysion's priestesses.</span></p>

<p><span>The two of them met during a religious function and came to love one another.</span></p>

<p><span>They had a happy wedding accepted by those around them and spent their lives together - or at least, they were supposed to.</span></p>

<p><span>The goddess had known that the demons were making strange movements, but she cannot be expected to keep up with every single one. They were under her protection as well, and she had created them in the first place.</span></p>

<p><span>That backfired on her.</span></p>

<p><span>It started with the small miss, the kind that would simply become a funny story to tell later. Taking an opportunity so small it cannot even be called an opportunity, a demon proficient in love affairs approached the woman skillfully.</span></p>

<p><span>The woman had not associated herself with any men other than the man that she was betrothed to. The fact that her new partner belonged to a race denied by her religion only served to fuel her passion; she adored him deeply. And thus, everything began to fall apart.</span></p>

<p><span>Her adultery with a demon went against the things that she had been taught and was an immoral act towards her fiancé.</span></p>

<p><span>When both families discovered this, her engagement with the man was broken off and she was banished from Elysion. Right before her eyes, the demon man revealed numerous things about the woman that the man she had been engaged to could not bear to hear, and then died.</span></p>

<p><span>These circumstances became widely known to many people associated with them, and of course, the relationship between the two was torn apart.</span></p>

<p><span>The goddess thought about these two. She considered the unhappy incident that had occurred in the royal court, and concerned herself with the affairs of Kanart and Cass.</span></p>

<p><span>But perhaps around the time that she decided use some tricks to have them find new lovers, Kanart and Cass eloped from the country.</span></p>

<p><span>Kanart loved Cass. Even though another man had taken her away from him. Despite everything, he loved her and loved her. No matter what it took, regardless of the sacrifices he had to make, he wanted to be married to Cass Tort.</span></p>

<p><span>Cass had certainly once loved the demon, but she still desired Kanart. Suffering in regret, she had fallen in love with Kanart when he proposed to her a second time after the demon's death.</span></p>

<p><span>The two of them were happy with that. The whole affair may have been nothing but a dog's bite for them*. However, one of them was a nobleman who was supposed to be the successor to an important position within the country, while the other the other was an eminent priestess. There was no way that this would be accepted by those around them. That was why eloping, throwing away their country and social positions in the process, was a natural decision for them.</span></p>

<p>&nbsp;</p>

<p><span>However, there was one other who could not accept this. The goddess.</span></p>

<p><span>The goddess appeared before the two and warned them.</span></p>

<p><span>But then, instead of heeding the goddess’s warning, the two of them turned on the goddess with their request to have a wish granted. Perhaps out of anger at the pair who would not listen to her attempts to persuade them out of their actions, the goddess promised them that she would grant them their wish if they could clear her trials.</span></p>

<p><span>She had thought that these trials would be impossible for them to overcome, but now that they have indeed been overcome, it would certainly be impossible to persuade them at this point.</span></p>

<p><span>As a god, she is offering to alter people's memories and even change their fates, but they are rejecting this suggestion.</span></p>

<p><span>Do they desire to leave this world at all costs?</span></p>

<p><span>Do they mean to abandon me despite the consequences?</span></p>

<p><span>Dark emotions begin to form inside the goddess. For her, the hyumans are her children that she loves the most. Two of those children are trying to abandon her, their parent, and leave.</span></p>

<p><span>Despite her countless explanations about how dangerous the transfer process and the world they would be transferred to are.</span></p>

<p><span>The chance for a successful transfer of a single hyuman body is around one in five, so the chance for both of them to be transferred safely is even lower than that.</span></p>

<p><span>The world that is their destination (the goddess deliberately chose the harshest one to scare them) is one where even capable individuals find it difficult to live comfortable lifestyles, a world that places tremendous burdens on the people who live in it.</span></p>

<p><span>Why. Why do they still wish to transfer to a different world?!</span></p>

<p><span>The goddess's anger and bewilderment increases, but the two show no signs of wavering in their intentions.</span></p>

<p><span>It is useless to try and convince them.</span></p>

<p><span>The goddess finally arrives upon this conclusion. The conclusion that what her two hyuman children desire is the answer that they have come to.</span></p>

<p><span>「... I'm opening the gate.|</span></p>

<p><span>『Thank you very much!|</span></p>

<p><span>The goddess begins her preparations to call upon the numerous nymphs that are her followers. As she gives orders to them, she gathers her own magical power.</span></p>

<p><span>The two hyumans quietly watch the goddess's back and the work of her followers.</span></p>

<p><span>「On the other side is a truly difficult world.|(Goddess)</span></p>

<p><span>「We understand. Even so, that is where the two of us will do our best live.|(Kanart)</span></p>

<p><span>「... If you think that things will somehow work out... Well, yes, things have somehow worked out up until now.|(Goddess)</span></p>

<p><span>The goddess is not even looking back at them. She comes to her own conclusion and points her left hand, which is working a little reluctantly, towards the pair.</span></p>

<p><span>「Gah! Guuuuuh!|(Kanart)</span></p>

<p><span>「Kyah, ugh, uuugh!|(Cass)</span></p>

<p><span>At that moment, the two of them are thrown onto the ground and begin struggling desperately to breathe.</span></p>

<p><span>「These are the burdens of the world that you are heading to.|(Goddess)</span></p>

<p><span>In response to the goddess's words, shock appears on their faces.</span></p>

<p><span>「It is impossible after all, is it not?|(Goddess)</span></p>

<p><span>"Is this all?" The two of them are unable to say these words to the goddess. The incredible, abnormal pressure is preventing them from even standing up or breathing normally.</span></p>

<p><span>「... Two years. I will protect the two of you with my divine power for just two years. Use that time to train your bodies as if your lives depend on it. You really will die, you know that, right? You cannot use magic in that world, so do not think that you can rely on it.|</span></p>

<p><span>At the same time as the goddess finishes speaking, the strange pressure vanishes.</span></p>

<p><span>The two of them look at the goddess as if they weren't expecting anything like this. Her back looks lonely. It doesn't match the atmosphere that she had up until this point.</span></p>

<p><span>「Also, the place I'm sending you has a lot of people with black hair and eyes. You wish to live peacefully, do you not? Can you not hear me?|(Goddess)</span></p>

<p><span>「Ah, y-yes!|(Kanart)</span></p>

<p><span>Though the two of them are in silent awe over the goddess's sudden change in behavior, the man somehow manages to respond to her questions.</span></p>

<p><span>「Then I will change the color of your hair and eyes to black. This way, you will not be thought of as demons in that world.|(Goddess)</span></p>

<p><span>「Thank you... very much.|(Kanart)</span></p>

<p><span>「And then there is the language. It would be troublesome if you do not know the words and letters. There may be some mistakes, so forgive me.|(Goddess)</span></p>

<p><span>The goddess receives some kind of report from the nymphs.</span></p>

<p><span>She lifts her head from beneath the gaping wide crater to look up at the sky.</span></p>

<p><span>「Everything is ready.|(Goddess)</span></p>

<p><span>「O goddess, our great goddess, we are forever grateful.|(Kanart)</span></p>

<p><span>「I have no use for such gratitude. I will not accept thanks from those who would abandon me and this world.|(Goddess)</span></p>

<p><span>The goddess does not feel the warmth of compassion. It is as if she has put on a thick, heavy mask.</span></p>

<p><span>「Make no mistake. The chance that you two will be able to go to another world together is less than one in ten. The chance that you will be able to train your bodies to the point that you can live a normal life there is also less than one in ten. You two have no talent, after all.|(Goddess)</span></p>

<p><span>『...|</span></p>

<p><span>「Doing something like this is as futile as putting make-up on the dead. I am merely taking pity on you, as you are likely to die. You think I am giving this to you for free? Me, give to you?!|(Goddess)</span></p>

<p><span>『...|</span></p>

<p><span>「I will take something in return. Yes, if you actually become able to live in the new world.|(Goddess)</span></p>

<p><span>The goddess continues. The two hyumans simply wait quietly for her to finish speaking.</span></p>

<p><span>「One thing that you gain in that world that is precious to you. Give that to me. That is the price that I demand.|(Goddess)</span></p>

<p><span>「Whatever it may be.|(Kanart)</span></p>

<p><span>「We promise.|(Cass)</span></p>

<p><span>Kanart Io and Cass Tort accept her words obediently. This is their final agreement with the goddess. They believe that this agreement is so that even after they step away from this world, their connections with it are not severed.</span></p>

<p><span>「You're quite obedient when it comes to this... Io and Tort, huh. Io means "deep" and Tort means "transparent", is that right? Hmph, this is not even something that a god such as myself should do.|(Goddess)</span></p>

<p><span>The goddess stops abruptly, but as the man and woman walk into the center of the magic circle, she begins to speak again.</span></p>

<p><span>「Misumi. If you feel even a little guilt towards me, then use this name for yourselves. It is a word that means both "deep" and "transparent".|(Goddess)</span></p>

<p>&nbsp;</p>

<p><span>Noise is added to the world and the hyumans surrounded by the light rising from the magic circle fade away.</span></p>

<p><span>「... You're gone, huh. What is it? Just what is it you find so dissatisfying about this world that I've made! I don’t care what happens next! If everything has gone well, if you have named yourselves Misumi, then I will definitely have you hold up your end of the agreement, so prepare yourselves.|(Goddess)</span></p>

<p><span>The goddess complains as she moves on, leaving the nymphs to take care of the traces of the world transfer process so that nobody will be able to figure out the ritual that has taken place here.</span></p>

<p><span>The nymphs finish cleaning up, a process that took as long as the world transfer itself, and begin to leave, but the goddess stops them.</span></p>

<p><span>「I shall sleep. Don't wake me up, no matter what.|(Goddess)</span></p>

<p><span>This takes place thirteen years before the worldwide chaos caused by the demons.</span></p>

<p><span>There are twenty-three years before the goddess wakes up from her ill-tempered slumber, beginning her and Makoto's story.</span></p>

<p><span>Will Makoto one day know about the events that took place here?</span></p>

<p><span>That has not yet been decided.</span>