Extra_5-Around_that_time,_modern_day(3)


<span>If I went outside, my skin was ruined. In the summer, going outside without a hat caused me to suffer heatstroke in a matter of minutes.</span></p>

<p><span>When I walked, I got muscular pain. My legs and loins cramped; I spent every day feeling like a newborn calf or foal. How many times did I imagine how nice it would be to use a wheelchair?</span></p>

<p><span>By the time I’d finished eating a meal, I would be covered in sweat. A little while later, I wouldn’t be able to raise my arms properly.</span></p>

<p><span>If I watched a comedy show, my abdominal muscles suffered greatly. I couldn’t tell whether the comedy was funny enough to make me cry from laughing, or whether I was crying from the pain.</span></p>

<p><span>This was when my younger brother Makoto was young.</span></p>

<p><span>I am Misumi Yukiko. I’m Yukiko, born on the 10th of August. I want to question my parents’ naming sense. Though I do think it’s better than being named Makoto, born on the 1st of April.</span></p>

<p>&nbsp;</p>

<p><span>Right now, I’m studying medical science at university. I’m twenty years old, and the first thing I want to do after graduating is to go to a foreign country to improve my skill, but I’m getting fed up with my father’s vehement opposition to it.</span></p>

<p><span>Eventually I want to live in Japan doing pediatrics, but even when I tell my father that, he won’t hear a word of it.</span></p>

<p><span>My mother and younger sister approve, and my younger brother also approved.</span></p>

<p><span>Though Makoto left the house suddenly, so I don’t know how much that’s worth.</span></p>

<p><span>My father says that this is how a man’s family is run as he continuously gets in between me and my future. Damn you, Makoto, why didn’t you predict that things would turn out like this?</span></p>

<p><span>I don’t even have any idea where he’s gone. Father and Mother wear know-it-all expressions as they tell me that he’s fine, but they cry from time to time. I don’t get them.</span></p>

<p><span>The one thing I can say for certain is, he will definitely not return before I become a doctor.</span></p>

<p><span>That day, the letter addressed to me and my younger sister Mari was written like this... It must be nice to be Mari, having a normal name. I’ve secretly thought that she should have been named Misoka-chan, since her birthday is on the 1st of January.</span></p>

<p>&nbsp;</p>

<p><span>“I’m going to go and help Ouoka-sama* in the south. I think it will be fine, but please don’t turn on my PC. When you dispose of it, pour water over it thoroughly just in case, and destroy it using a blunt weapon such as a sledgehammer. Please do whatever you like with the rest of the things in my room. Also, I believe that Onee-san will be able to become a pediatrician. Please do your best. Please treasure brother-in-law-san - well, he is not my brother-in-law yet. If Mari has any troubles after entering middle school and high school, she should rely on a senpai called Higashi. But don’t go near a senpai called Ibuki. Also, please remember to knock before entering someone’s room. Well then, goodbye."</span></p>

<p>&nbsp;</p>

<p><span>And with that, Makoto disappeared. No, he was already gone.</span></p>

<p><span>On that morning, leaving behind nothing but this letter that looks like some kind of joke, he vanished. He hasn’t come back home once, nor has he been in contact at all.</span></p>

<p><span>But judging from how my parents say that he’s gone to study overseas and the detailed instructions that they gave, I get the feeling that they know something. The strings of Father’s wallet always loosen easily when one takes advantage of him, but even he closes his mouth as tight as a shellfish when the topic is brought up. Maybe it has something to do with their pasts.</span></p>

<p><span>How did they meet, and how did they fall in love? Our parents are such a mystery. They speak fondly of each other, but their story of where they dated and how they met changes every time I ask. I would have thought it wouldn’t really be a problem if your daughter wanted to know the details about your romance. It’s really a mystery.</span></p>

<p><span>Also, they say they hate photos and don’t have any from the past, but then why do they have multiple albums of me, Makoto and Mari? Why does a new album titled things like “our family" appear with every season that passes? They actually love photos way too much!</span></p>

<p><span>We don’t have any contact with relatives but, well, that’s fine because it’s easier for us. Instead, our parents’ friends visit our house, and we siblings never felt any loneliness at the fact that we don’t have any relatives.</span></p>

<p><span>From time to time we had visitors who were clearly from other countries, which made us feel nervous, but now it’s something that we look forward to.</span></p>

<p><span>Ah, I’m going off-topic.</span></p>

<p><span>I was talking about Makoto’s letter.</span></p>

<p><span>There’s nothing to be said about his destination or objective. That’s in the past. There’s no way a child who would never let his family touch his PC would ask them to get rid of it. He always recommended that I become a sports doctor. He had long since given up on trying to get Mari to remember to knock before entering his room.</span></p>

<p><span>Everything about it was strange.</span></p>

<p><span>I’m happy that he accepted my choice of going into pediatrics. Though it’s a little disappointing that he didn’t do so face to face, but through a letter just before he disappeared.</span></p>

<p><span>I’ve told this to my family and close friends, but Makoto is the reason I chose the path of medicine.</span></p>

<p><span>He was incredibly frail, and he came down with a fever whenever he did anything. Though there were a lot of times I thought he was a lot of trouble. After all, when I was young, I often had to look after him.</span></p>

<p><span>My own body was weaker than most people’s, but Makoto’s weakness completely did away with the complex that I had about it. I was completely fine compared to my younger brother.</span></p>

<p><span>I was practically forced to do judo, and I also had to do housework. I think what kept me going was the feeling of wanting to protect him because he was weaker than me, and the fact that he was trying so hard despite that.</span></p>

<p><span>In the end, judo became a habit for me. I’m still commuting to university from home, so I still have to do housework. Well, you know, university students have social lives (truly), so I did have (a lot of) things change for me as well.</span></p>

<p><span>Right now, I’m able to deal with most of the housework, I have enough of a reputation that professors, senpais, kouhais and people in the same year call out to me, and I’ve progressed in judo to the point that I’m considered one of the higher-ranking light-weight athletes.</span></p>

<p><span>Since I have no intention of living my life as an athlete, I haven’t participated in any formal matches since I entered university, nor do I belong to any clubs, but I did take an interview once when I was still in high school.</span></p>

<p><span>My body is still weaker than most people’s, but I’m healthy enough. I just get tired a little more easily.</span></p>

<p><span>When I heard about the option of entering medical school from some person who looked like he was from the media, I began to wonder if my body was broken, but that’s not the case.</span></p>

<p><span>In reality, the ambition that rose from my feelings of wanting to cure Makoto of his injuries and illnesses hasn’t caused my body any harm.</span></p>

<p><span>With that said, he has better stamina than me now and can run around normally. My feelings from when we were young ended as just an excuse for me to go into medicine. That makes me feel a little lonely, but I’m honestly happy about it.</span></p>

<p><span>Now that I think about it, Makoto really hated standing in front of the gas stove’s fire and going outside for various martial arts.</span></p>

<p><span>... He has lots of painful memories of being burnt and having his bones fractured. Now that I think back to it, I was horrible for calling him a weakling.</span></p>

<p><span>I wonder when it was.</span></p>

<p><span>When was it that the look in his eyes began to change?</span></p>

<p><span>That’s right.</span></p>

<p><span>When he came across archery, I suppose. No, maybe around the time Mari became old enough to talk.</span></p>

<p><span>Around then, he was really giving everything he had to take even one step forward.</span></p>

<p><span>At first, it was impossible to tell whether he was trying to hold his bow or use it as something to lean against.</span></p>

<p><span>I’m not exaggerating when I say that one time, Makoto failed to maintain a kneeling position, rolled over and fractured his arm. I wonder why our parents were so intent on having him learn a martial art. I really have no idea.</span></p>

<p><span>Well, among all the martial arts, I think archery is one of the calmer ones, but... Even so, I thought it would be impossible for Makoto to keep going with it.</span></p>

<p><span>He stood, sat, ran, used a rubber bow and studied the forms.</span></p>

<p><span>I’m really impressed that he continued learning it. Though I’m looking at it in hindsight, since Makoto’s body became healthy, wasn’t it a good thing in the end?</span></p>

<p><span>Now that I’m studying medicine, I can say with certainty that it was most definitely not healthy for him, but... in the end...</span></p>

<p><span>Unexpectedly, this is kind of a gray area.</span></p>

<p><span>Well, this is something I can take my time and deal with once Makoto comes back.</span></p>

<p><span>It doesn’t feel like I’ve been separated from him forever in this life.</span></p>

<p><span>Leaving the joke letter aside, this is Makoto’s house and we are Makoto’s family. That’s why I believe that there’s no way that Makoto won’t return to this city, to this house.</span></p>

<p><span>He’s someone who’s already made a miracle happen with his own body. No news is good news, mhmm, that’s right.</span></p>

<p><span>He hasn’t even introduced his girlfriend to me yet. It’s not fair that I’m the only one who’s introduced my boyfriend to him.</span></p>

<p><span>I’ve seen photos from his club activities and events and it’s not like there’s no female presence at all. If he takes the time to date someone, they’ll understand just how good a person he is. I think that a girl like that should exist somewhere.</span></p>

<p><span>The problem might actually lie in Makoto himself.</span></p>

<p><span>He’s still young, but he has hobbies that aren’t suitable for his age.</span></p>

<p><span>Would a normal teenager record a historical drama that plays at 10am so he can watch it later? Would he not know the names of any idol groups, but get into heated discussions about supporting actors?</span></p>

<p>&nbsp;</p>

<p><span>Would he have historical drama DVDs lined up by series name in alphabetical order in a corner of his room? Would the contents of his cellphone’s music player consist of Endless Gypsy Kin and Billy Van*? No, there’s no way. That shouldn’t be the case.</span></p>

<p>&nbsp;</p>

<p><span>When I was talking to my younger brother about an erotic game, he made an excuse about how it’s not that kind of game and that it’s a masterpiece. At that time, I was actually relieved.</span></p>

<p><span>His notions on the relationship between men and women date back to the Showa Era*, or maybe even before that.</span></p>

<p>&nbsp;</p>

<p><span>Even if a girl were to confess to him, I don’t think he would nod his head quietly.</span></p>

<p><span>Before that, he might misunderstand and put her into the “family" category like me and Mari, or in the “friends" category with Ibuki-kun and the others.</span></p>

<p><span>... I think having friends and companions is a wonderful thing, but that’s different from love. I get the feeling that he probably doesn’t understand...</span></p>

<p><span>I hope I’m just overthinking things.</span></p>

<p><span>「... Hey, Yukiko, your eyes clearly aren’t focused.|</span></p>

<p><span>I wonder if he’s ever fallen in love with someone before?</span></p>

<p><span>「... Anyone home? If you just keep moving your hands, I’m going to start getting really scared, you know?|</span></p>

<p><span>Would things be different if there was a girl who would teach him about these things more forcefully?</span></p>

<p><span>「No! Yukiko, you can’t do that! Definitely not allowed!|</span></p>

<p><span>So loud. A person is trying to think here, you... know?</span></p>

<p><span>「Stop! Really, stop! You’re too strong for me! Please stop – !|</span></p>

<p><span>Oh. I forgot what I was doing right now.</span></p>

<p><span>「S-sorry!|(Yukiko)</span></p>

<p><span>I was almost about to put the tip of a syringe in between the nail and fingertip of my boyfriend’s ring finger.</span></p>

<p><span>No good, no good.</span></p>

<p><span>I’d asked him to help me practice inserting needles so that I can learn to do it in a painless way, and also make sure that I hit blood vessels properly.</span></p>

<p><span>Fortunately (?), my boyfriend is the type whose blood vessels don’t float up easily and are hard to find, so it was good practice. And right now, I’m in the middle of that practice.</span></p>

<p><span>To think that I would get caught up in my thoughts. I feel sorry for my boyfriend who’s been spending his days getting holes poked in both his arms.</span></p>

<p><span>「I-I was wondering if you changed your mind and decided to torture me instead.|(Boyfriend)</span></p>

<p><span>Since he has no particular experience with physical activities, there was no way for him to break out of my grip. Mhmm, that must have been scary.</span></p>

<p><span>「I’m sorry, okay? Let’s call it a day here.|</span></p>

<p><span>Yes, and if we don’t leave now, we won’t have time for our date. Though we’re both university students, we have to set aside time to spend together.</span></p>

<p><span>「Were you thinking about something?|(Boyfriend)</span></p>

<p><span>「Yeah, a little.|(Yukiko)</span></p>

<p><span>「... About Nakatsuhara High School?|(Boyfriend)</span></p>

<p><span>「... ?! No, something else. It’s going to be December soon, right? I was just thinking about how fun it’s going to be with all the events.|(Yukiko)</span></p>

<p><span>I give a rather vague laugh in response to his concerns. I’ve heard that my brother has nothing to do with the incidents at my former school, anyway. When I was suddenly told things about when he was in middle school and high school, I was really surprised.</span></p>

<p><span>「Even if you say that, we’re really busy in the end, you know? Though I do want to do as much as I can, and I will.|(Boyfriend)</span></p>

<p><span>「I’m looking forward to it.|(Yukiko)</span></p>

<p><span>「Ah, I want to see Makoto-kun again. He was always nice to me and it made me happy, like I had a younger brother. I hope I can see him, even if it’s just to wish him a happy new year.|(Boyfriend)</span></p>

<p><span>「Yeah, you’re right. But he’s already in his second year of high school; who knows how busy he’ll be with his social life? I don’t think New Year’s Day will work, you know?|(Yukiko)</span></p>

<p><span>「Eh, I’ll come to say happy new year and then let’s go and do our first visit to the shrine together. Or are you busy on that day?|(Boyfriend)</span></p>

<p><span>「I’m not busy, but...|(Yukiko)</span></p>

<p><span>New Year’s Day is bad. I have to protect his wallet, or our New Year’s dates will be...</span></p>

<p><span>「Is there something wrong with it?|(Boyfriend)</span></p>

<p><span>「New Year’s Day is Mari’s birthday. She’s merciless, so she’ll demand both New Year’s gifts and birthday presents, you know? She’ll press you for those, calling you Brother-in-law-chan, you know?|(Yukiko)</span></p>

<p><span>「Ugh...|(Boyfriend)</span></p>

<p><span>「You’re an only child so you even fawned over Makoto, do you think you can win against Mari?|(Yukiko)</span></p>

<p><span>That’s right. My boyfriend is an only child. It seems that he yearns to have siblings.</span></p>

<p><span>That’s why he was always so helpful towards Makoto, and wants to meet him so badly. Apparently he ran into Mari-chan in town one time, and he took her and all of her friends that were with her (I think there were seven or eight of them) to a family restaurant and treated them to a meal. So weak, far too weak!</span></p>

<p><span>The reason Makoto was so nice to him was probably because... Ever since I got a boyfriend, Makoto didn’t get holes poked in his arms anymore. His blood vessels were exceptionally difficult to find as well.</span></p>

<p><span>I get the feeling that Mari really just sees my boyfriend as a Farfetch’d*. It’s a problem that he fawns over her despite that, but like Makoto, he does prefer cats over dogs. It doesn’t seem like I’ll be able to correct that. I don’t have a choice but to have Mari restrain herself a little around him.</span></p>

<p>&nbsp;</p>

<p><span>I’m happy that he likes my brother so much, but I don’t think they’ll be able to meet on New Year’s Day. I feel sorry for lying to him, but I might have to tell him that Makoto’s gone overseas to study as well.</span></p>

<p><span>I link arms with my boyfriend and feel his warmth, feeling frustrated that I can’t tell him the truth as we walk along the road by the riverbank upon which the setting sun is shining.</span>