Extra_3-Around_that_time…(1)


In my younger years, I was wild. <em>Really</em> wild.</span></span></p>

<p><span>What is written here is only one portion of it. The really dark parts have been diligently erased (by my master and Aniki)!</span></span></p>

<p><span>I did everything including murder until I got tired of it and, well, now I’ve calmed down.</span></span></p>

<p><span>I’ve married my daughter off and given my name as a congratulatory gift to her husband.</span></span></p>

<p><span>I wonder if I’ve reached the point where my fire is fading. I have more power than I know what to do with, but the occasions on which I use it to my heart’s content are growing less frequent.</span></span></p>

<p><span>This is just my opinion.</span></span></p>

<p><span>But I think that going wild and doing as one pleases is best done while one is still young.</span></span></p>

<p><span>It’s no good if a person who’s lived a quiet life suddenly raises his spirits and goes wild after getting old.</span></span></p>

<p><span>Regarding that point, I think what Aneki and I did falls under the category of “trouble we caused when we were young." Now, I find drinking tea on the balcony to be calming. We used to get into big fights and drive each other out of our homes, but now we get along well.</span></span></p>

<p><span>However.</span></span></p>

<p><span>That’s not the case with my Aniki.</span></span></p>

<p><span>He’s been quiet since forever ago. He did the work our parents told him to do diligently, and responded to any requests made of him with a smile. I caused trouble for him, but we never got into a fight. He probably still has the scar on his back from the time I slashed him diagonally from the shoulder, and the one on his stomach from the time I stabbed him.</span></span></p>

<p><span>He’s a staunch, quiet person.</span></span></p>

<p><span>When I abandoned my work, he would do it in my stead, and when Aneki confined herself indoors, he went to visit her.</span></span></p>

<p><span>Even now, the many diplomatic relations that Aneki finds to be troublesome are managed by Aniki. Well, they were.</span></span></p>

<p><span>He started doing as he pleased.</span></span></p>

<p><span>Aniki finally started doing whatever he wanted.</span></span></p>

<p><span>He rushed over to my place with an expression as if he were about to die, said something like「I’ll leave the rest to you!|and disappeared as quickly as he’d arrived.</span></span></p>

<p><span>I have no clue what exactly he was planning to leave to me, but this was the first time that Aniki had ever requested anything from me.</span></span></p>

<p><span>I’ve caused him nothing but trouble.</span></span></p>

<p><span>With the intention of taking over whatever Aniki was leaving to me, I’m now going around asking people to try and find out where he’s gone. It’s not like I’ve run away because Aniki’s sudden disappearance has caused an enormous amount of work to pour onto me like a waterfall, alright?</span></span></p>

<p><span>… The door of the room that Aneki had secluded herself in has been destroyed by the retainers with colorless eyes, huh. You caused trouble for him too, Aneki. Take charge of some of Aniki’s work (including my share).</span></span></p>

<p><span>I’ve asked my acquaintances all around the world and searched and searched, and finally discovered Aniki’s whereabouts, I mean, where he is.</span></span></p>

<p><span>He’s in a bit of an unusual place. It’s not a metaphor to say that he’s disappeared. He literally faded away so I thought something had happened; this might be quite a serious matter. It’s making my blood boil a little like it used to.</span></span></p>

<p><span>In a way, this is Mom’s territory. But when I contacted her, thinking that I’d talk to her before I leave, she told me “He’s not in a state where he can talk so there’s no point in coming here."</span></span></p>

<p><span>I did have a photo emailed to me and she’s right. He doesn’t have a person’s body. The image is just of a faintly shining mist. In other words, this is Aniki right now.</span></span></p>

<p><span>Aniki’s presence was meager to begin with,and now he’s turned into this photochemical smog. He can only be recognized as a contribution to the world’s pollution.</span></span></p>

<p><span>The email did say that his consciousness itself is fine, somewhere deep inside (she is his mother after all, so it seems that she’s done some research out of worry) so I’ve decided to use dream communication to hear what he has to say.</span></span></p>

<p><span>I took my concerns to the Moru Assistants, my friends in the Mediterranean Sea, but they started shouting something about privacy. So I had to try to convince them with my fists and that failed. They said something about a mixer party with eyes that showed no signs of yielding, so I decided to retreat. Them mentioning privacy when they went together to peep caused me to ready my fists without thinking, but then they mentioned women. If that's the case, they should've just said so.</span></span></p>

<p><span>That guy, he was starving that badly, huh. I'll introduce him to some girls next time. Since he's going to have no success tonight. And get beaten viciously.</span></span></p>

<p><span>This is a problem.</span></span></p>

<p><span>With that being the case, I have no friends involved in this sort of thing. I do have some acquaintances, but it seems they're too scared of me; it's quite difficult to meet them.</span></span></p>

<p><span>I have no choice. This isn't a situation I where I can just stay quiet without complaining. If I don't get a grasp of the situation and go to Aneki's place as well, I'm going to fail in a variety of ways.</span></span></p>

<p><span>I guess I'll look for him. As I decided on that and was about to return to the country, someone visited me.</span></span></p>

<p><span>To visit my house just before I was about to leave it, what good timing - I mean, bad timing. I don't have time to deal with him now so I'll have to see him next time.</span></span></p>

<p><span>「Sorry about that. It's unusual for someone to be standing... What are you doing?!|(Susanoo)</span></span></p>

<p><span>A strange sight greeted me as I opened the entrance.</span></span></p>

<p><span>One person is my close friend. Yama-chan.</span></span></p>

<p><span>The other person is the exact person that I've been looking for. But with Yama-chan embracing him passionately, his face is completely pale.</span></span></p>

<p><span>「I've got a rough idea of the situation. This gentleman is the one who went missing and you're looking for him, right?|(Yama)</span></span></p>

<p><span>「Well, that's right. Information travels fast, huh.|(Susanoo)</span></span></p>

<p><span>It's only been half a day since I sent the Moru Assistants to the hospital.</span></span></p>

<p><span>「Ow, ow, ow, ow, p-please let go of me~ Kyuh...|</span></span></p>

<p><span>It seems the embrace was a little too passionate; his pale face turned just a little purple and he fainted. He was groaning earlier, so I guess it's to be expected. This guy isn't a fighter.</span></span></p>

<p><span>「If you want to thank the person who found him, leave that to me. I'll leave this to you. Take care of this gentleman!|(Yama)</span></span></p>

<p><span>With that, Yama-chan turns her back.</span></span></p>

<p><span>「What the hell, since you're here, why don't we go together?|(Susanoo)</span></span></p>

<p><span>「That's unnecessary. I'm going to go and help with some work that’s not being tended to.|(Yama)</span></span></p>

<p><span>Saying that, Yama-chan leaves.</span></span></p>

<p><span>W-what a brave person. It looks like she's obviously just trying to gain points, but she's good. The speed with which she got her information was kind of stalker-ish, but ignoring that, she's the best.</span></span></p>

<p><span>Well then, I don't have to search anymore. I guess I'll go and hear what Aniki has to say.</span></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span>「And that's how it is.|</span></span></p>

<p><span>「So that's why you did something that crazy... Ah, this is a present from my wife.|(Susanoo)</span></span></p>

<p><span>「Oh, this is the pipe leaf that I love. As expected of the lady, she is well-informed. Well then, should I suppose I should prepare some tea.|</span></span></p>

<p><span>After hearing about the situation, I give the present that I'd forgotten about to Aniki.</span></span></p>

<p><span>The present that the wife made me carry is apparently something that Aniki likes. She's such an attentive wife, really.</span></span></p>

<p><span>「Ah, it's fine.|(Susanoo)</span></span></p>

<p><span>Aniki has been lying down on his futon in this dream, and as he goes to stand up, I quickly stop him. To think that he's become so weak that he needs to rest even in his dream; he doesn't change, this Aniki of mine.</span></span></p>

<p><span>「Oi, Yumene. You make the tea. Enough for three people.|(Susanoo)</span></span></p>

<p><span>「Eh?! M-me? I understand!|(Yumene)</span></span></p>

<p><span>As I call out to him suddenly, Yumene lets out an unsettling voice and quickly stands up and disappears.</span></span></p>

<p><span>「Sorry about that~|(Tsukuyomi)</span></span></p>

<p><span>「It's fine, don't stay stuff like that. That Yumene, he runs when he sees me. I don't even know if I'd have been able to come if Yama-chan didn't help me out.|(Susanoo)</span></span></p>

<p><span>「I see. I made even that girl worry, huh. I’m starting to feel more and more guilty.|(Tsukuyomi)</span></span></p>

<p><span>「She was kinda happy and said she'll help out with the work that you left, Aniki.|(Susanoo)</span></span></p>

<p><span>I owe her for helping me. I won't mention anything about your stalker-like tendencies next time, Yama-chan.</span></span></p>

<p><span>「I have to thank her when I recover.|(Tsukuyomi)</span></span></p>

<p><span>「Yeah. Bow your head to everyone.|(Susanoo)</span></span></p>

<p><span>I wonder if Aniki knows just how much trouble he's caused by disappearing. The bad thing about him is that he has no self-awareness.</span></span></p>

<p><span>To make a comparison, it's like if a nine-to-five worker who’s never worked overtime was suddenly put on a day-and-night work schedule. With no increase in staff.</span></span></p>

<p><span>「But when it comes to my work, unlike yours or Nee-san's, there should be plenty who could substitute for me. Is it that much of a problem?|(Tsukuyomi)</span></span></p>

<p><span>He doesn't get it.</span></span></p>

<p><span>He really doesn't get it, this Aniki.</span></span></p>

<p><span>Indeed, Aniki's work isn't the kind that he's the only one who's able to do it; anyone could substitute for him for a lot of his work. But that's not the problem.</span></span></p>

<p><span>It's the quantity.</span></span></p>

<p><span>Aniki is the only one who can handle that quantity of work. He's a superhuman. There are definitely more than twenty-four hours in a day for Aniki.</span></span></p>

<p><span>Now that I think about it, both me and Aneki were inexperienced.</span></span></p>

<p><span>There were plenty of intelligent creatures at that time. Humans being the main ones.</span></span></p>

<p><span>During the night that Aniki is in charge of, humans sleep. And humans don't live in the sea. So in short, I thought it was easy.</span></span></p>

<p><span>However, intelligent creatures aren’t the only ones that move the world forward. We didn't know that.</span></span></p>

<p><span>Everything in the world is closely connected in co-existence.</span></span></p>

<p><span>Watching over the numerous humans as well as the environment and problems that surrounded them.</span></span></p>

<p><span>Controlling the entirety of the vast oceans, and even linking its circulation and benefits to the land’s surface.</span></span></p>

<p><span>Comparing the two, my job was far simpler, and it was also stimulating and interesting.</span></span></p>

<p><span>My brother did the other job all by himself. Even while having his ability questioned by others who thought that it was a simple job that anyone could do. Even though it was the most difficult, tedious and boring job.</span></span></p>

<p><span>Even with the abnormal number of petitions and documents that are arriving now, it’s nothing compared to the volume of work Aniki did back then. Because since then, he’s worked frantically to create a system that automates a lot of his work.</span></span></p>

<p><span>That's why Aniki says that his work is easy now. How miserable.</span></span></p>

<p><span>「... Aniki, you're amazing, huh.|(Susanoo)</span></span></p>

<p><span>「What is it all of a sudden?|(Tsukuyomi)</span></span></p>

<p><span>「No, you're really amazing.|(Susanoo)</span></span></p>

<p><span>On top of all that, he even covered for me and Aneki. And he even saved various fallen people by talking to Mother.</span></span></p>

<p><span>Not that he has a personality of wanting to govern over something or make miracles happen.</span></span></p>

<p><span>Aniki is an incredible person.</span></span></p>

<p><span>Hmm? So this means?</span></span></p>

<p><span>「Though you are my younger brother, you are a mystery to me. Well, good work for coming here even without me saying anything. Sorry, but regarding that girl, please consult other people to work out a plan.|(Tsukuyomi)</span></span></p>

<p><span>「Hmm, yeah. Of course. On the other side, the Moru Assistants are helping me out, so I'll be fine. Hey, Aniki.|(Susanoo)</span></span></p>

<p><span>I decided to ask a question that just suddenly occurred to me.</span></span></p>

<p><span>「Hmm?|(Tsukuyomi)</span></span></p>

<p><span>「About the human you said you bestowed power on.|(Susanoo)</span></span></p>

<p><span>The fact that Aniki would bestow a power on one particular human is surprising on its own.</span></span></p>

<p><span>Aniki has been the helpful type ever since he was born. He helps someone and is helped by others.</span></span></p>

<p><span>「Mhmm.|(Tsukuyomi)</span></span></p>

<p><span>「Between abilities or power, which did you give him?|(Susanoo)</span></span></p>

<p><span>There are three ways to bestow power on a human.</span></span></p>

<p><span>One is to give him a "completed" ability, so to speak.</span></span></p>

<p><span>Another is to awaken an ability that the human has innately.</span></span></p>

<p><span>The last is to bestow what is a called a Sacred Treasure on him. This has nothing to do with this case, though.</span></span></p>

<p><span>「I gave him a power.|(Tsukuyomi)</span></span></p>

<p><span>As I thought. If that's the case. For the first time, the divine power that performs best with connections to other people has been granted to a human. That sounds quite interesting. I was asked to do something about it, but I guess it's not a problem if I just leave it alone.</span></span></p>

<p><span>But right now, Aniki is frail. That's because he forcibly interfered with another world.</span></span></p>

<p><span>「Of course you'll lose your body, interfering with another world after doing that. You pushed yourself too much.|(Susanoo)</span></span></p>

<p><span>「No, no, it's because I bestowed more power than I had intended to. I bestowed enough to fill him, and then I had found that I had become considerably weak. I underestimated the toll that interfering in another world would take, and it went poorly~|(Tsukuyomi)</span></span></p>

<p><span>「... More than you had intended to, huh. You mean a human that interesting was living in our world?|(Susanoo)</span></span></p>

<p><span>I examine Aniki, trying to feel him out.</span></span></p>

<p><span>「Indeed. He's interesting in a variety of ways.|(Tsukuyomi)</span></span></p>

<p><span>「Here's the tea, sorry about the wait!|(Yumene)</span></span></p>

<p><span>Damn Yumene, just when I’d thought to try and figure out Aniki's intentions. What bad timing.</span></span></p>

<p><span>「Oh, Yumene. Sorry about that. Thanks for the tea.|(Tsukuyomi)</span></span></p>

<p><span>Aniki raises half of his body up and doesn't seem to have any interest in answering my questions anymore. He's happily eating some snacks now.</span></span></p>

<p><span>However.</span></span></p>

<p><span>It'll take a considerable amount of time for Aniki to return. If we let nature take its course, it'll take several hundred years. Even if we do everything we can... about a hundred years.</span></span></p>

<p><span>Depending on how we take care of the work that Aniki's asked me to do, I might end up being crushed to death by the workload.</span></span></p>

<p><span>... Several people in Takamagahara might die of overwork.</span></span></p>

<p><br>
<span>Well, it's the first time Aniki's relying on me. I'll give it my best!</span></span></p>

<p><span>And so I, Susanoo, finish my visit to Aniki and begin to deal with things, holding some interest in this human that's gone to another world.</span>