Extra_1-At_that_time,_in_modern_society_1


<span>Nakatsuhara High School is a public school, and is considered to be the best preparatory school in the city. It also leads in the prefecture polls, and thus is one of the top prep schools in the country.</span></div>
<div>
<span>There are five classes per school year and usually they are all full. </span></div>
<div>
<span>As there are other high schools to the north, south, east, and west of Nakatsuhara, it is often referred to as a Junior High.</span></div>
<div>
<span>Its main feature is the prep school as mentioned earlier, but it’s said that there is an emphasis on extracurricular activities too. A prep school on top of being public. That doesn’t give the image of being active in club activities, but this place is different.</span></div>
<div>
<span>There are strong and weak clubs, but no matter which one it is, they all give their best in their clubs. It does not mean they are not studying, it’s just that their enthusiasm is fully centered on club activities.</span></div>
<div>
<span>Maybe the new students are affected by this vigor. Most of them end up putting their spirit in club activities.</span></div>
<br>
<div>
<span>Nakatsuhara high school continuing its reign in the first place of prep schools with that kind of emphasis, even the ones living around the place find it mysterious. It is a popular saying that when you enter that school, you will end up being skilled in literary and military arts. Strangely, this kind of popularity doesn’t turn into criticism of any way. </span></div>
<div>
<span>The weakest club in the list is the baseball team. Koshien was never in their reach, nevermind that they don’t even reach the Top 8.</span></div>
<div>
<span>The strongest club is the archery club. For the past 23 years Nakatsuhara high school has represented the prefecture in the national tournaments.</span></div>
<div>
<span>Either by black magic or by systematically gathering them, there were only beautiful people in the archery club. Did they enter because they were beautiful or were they beautiful because they entered? Either way, it wasn’t normal. Their fashion sense, however, seemed to be lagging behind current trends, so their clothes still stand out… and then there were the men...</span></div>
<div>
<span>In that environment there are handsome men and beautiful woman around. Don’t misunderstand though. There are neither harems nor reverse harems, instead there’s a rather heinous practice menu. Coupled with their excellent grades, ordinary people would flock to the club and join due to these people, leading to it becoming the most popular club in the school. If you could no longer keep up with the menu and began to fall behind in practice, you would be kicked out, so there is only a scarce amount of normal people. Or more like, by the second year, only the super strong ones remain. Why are the good-looking ones also coupled with will-power?</span></div>
<div>
<span>Because of this, the ordinary people who joined the archery club were considered “brave". So Makoto, who was the only one that’s been there for more than two years, was the only “brave" one remaining. People had been looking at him more frequently since he joined. It was natural of course. Him remaining in archery meant that he is the only one who can introduce you to one of those beauties.</span></div>
<div>
<span>There are people who speak to him casually to learn information about the heavenly beauties from an ordinary person. There are those who also think that he can be used as a conveyer of the students’ valuable love confessions… In fact, there are couples who admit they started dating due to him introducing them to each other. As a result, (as thanks from the female students), Makoto had received obligation chocolates for quite a while.</span></div>
<div>
<span>Having heard various rants and confessions from others, witnessing the handing over of what was apparently a “confession of love" letter, somehow Makoto was begged by fan clubs for things like photos, “I’m this kind of character, and I usually wish that you yourselves would be more direct, I wonder if it will end so conveniently. Not under normal circumstances."</span></div>
<div>
<span>As for the photo they had asked for, he was cut out of it during editing. He was about ready to cry. </span></div>
<div>
<span>However, his help had ended when he disappeared during autumn of his 2</span><span style="background-color: transparent; color: #373737; font-family: &quot;arial&quot;; font-size: 10px; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline;">nd</span><span> year for a completely different reason. He was dropped into a different world. Dutifully leaving a letter to only his family, he had jokingly asked his parents to do several things for him. </span></div>
<div>
<span>His parents were unexpectedly enthusiastic, because this is basically the last request of their son, so they did their best to fulfill it. And well, they granted practically all of them in a pace that can’t be joked about. One of those requests had to do with the school he was enrolled in which is facing a problem currently, or more like, it has turned into an uproar. </span></div>
<div>
<span>“That idiot! Of all the things he could do, he escapes to another country!"</span></div>
<div>
<span>‘In this kind of busy period to top it off’ is what one girl said as she left the staff room.</span><span style="background-color: transparent; color: red; font-family: &quot;arial&quot;; font-size: 15.333333333333332px; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline;"> </span><span>Following her from behind was a good-looking man. As he slid the door of the staff room shut, it was clear he was close to 2 metres in height... Narrow eyes, his hair hanging like a thread on both sides, he made a gentle expression. Having an athletic physique as well, he is a young man that gives a sense of safety. </span></div>
<div>
<span>“Higashi</span><span style="background-color: transparent; color: red; font-family: &quot;arial&quot;; font-size: 15.333333333333332px; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline;"></span><span>, no matter how many times we try, the situation won’t change …"</span></div>
<div>
<span>“I know that! But why do I suddenly have no vice-captain in the club!? Where is Vaduz, tell me!"</span></div>
<div>
<span>“It’s the capital of Liechtenstein. Next to Switzerland."</span></div>
<div>
<span> He responded knowledgeably to the honest girl she called Azuma of the East. However in this situation it was not the answer the girl was looking for, and caused further frustration.</span></div>
<div>
<span>“I know! I’m not asking you a question about geography!"</span></div>
<div>
<span>She was completely throwing her anger on the wrong person. And in response, the man fell silent.</span></div>
<div>
<span>That’s right, this is the story Higashi Yukari heard about the archery club vice-captain’s sudden disappearance. It was in the weekend and the club was also in the middle of a break as well, so she ended up hearing this news at monday. This is probably what’s called ‘bad timing’. The moment she heard this story and her her eyes wide in surprise still remained vividly in her mind. Of course this was not limited to the archery, but was a common reaction by all of the students who had heard the story.</span></div>
<div>
<span>“Without contacting a single person, what were you thinking Misumi!"</span></div>
<div>
<span>“Oh, ha-ha."</span></div>
<div>
<span>The young man felt that, no matter what he said, she would get angry about it. So he decided to just laugh vaguely. His decision was a safe one. </span></div>
<div>
<span>“His family says it was actually a high school exchange program, and that he was sent there all by his lonesome self. He’s located in Liechtenstein. The reason why he’s there is the part that doesn’t make sense."</span></div>
<div>
<span>“ Right."</span></div>
<div>
<span>“It’d be more believable if you said he’d been kidnapped!"</span></div>
<div>
<span>“That’s insensitive Higashi."</span></div>
<div>
<span>But that’s exactly what happened, Higashi.</span></div>
<div>
<span>The youth’s chiding voice fell on deaf ears. In the conversation where the man was practically completely ignored, she felt like she had an idea of the reason he went to study abroad.. It was completely off the mark, but her situation led her to that reasoning.</span></div>
<div>
<span>It is a story of when the previous captain was going to assign a new captain. The day when someone was stealthily waiting to consult him about it. </span></div>
<div>
<span>(Is this a joke? Disgraceful behavior is disgraceful behavior and I was agonizing in embarrassment, but to change schools and run away?But that’s the only reason I can think of for his sudden transfer...)</span></div>
<div>
<span>Higashi is not the type you would call cute. She looked like the daughter of a good home and was often called a beauty because of her dignified atmosphere. It's one thing to be the top of the ane-sama ranking while she was a 2</span><span style="background-color: transparent; color: #373737; font-family: &quot;arial&quot;; font-size: 10px; font-style: normal; font-variant: normal; font-weight: 400; text-decoration: none; vertical-align: baseline;">nd</span><span> year. Seeing her upset and walking in a hurry raised a commotion for both genders.</span></div>
<div>
<span>She underwent a terrible ordeal when her first confession was delivered (and failed). That’s why she was strict and rebuked him for a while but...</span></div>
<div>
<span>(He is the kind of guy that when you attack him with your all, at the next day he would come and carefreely say ‘Sorry~’ for some unknown reason. He’s a tough one. There’s no way he would do something like this just because I am sulking. )</span></div>
<div>
<span>The way a person sulks varies. But she kept her sulking to a margin that took Misumi in mind. And so, she decided to not pursue the topic anymore. She would stop all this sulking and tell him that she has accepted it.</span></div>
<div>
<span>In fact, that day was also an important day for someone other than Higashi Yukari. </span></div>
<div>
<span>Well, it wasn’t that big of a change, but the two changed ‘Ane-samas’ were honestly pushing the club members into fear. It was as if they were in the eye of the storm, and while imagining that it had something to do with Makoto, they were unable to actually ask about the reason of it. This may be digressing a bit, but considering that Makoto was able to interact with those fear instilling existences, their evaluation of him increased by another step.</span></div>
<div>
<span>“Hey hey, just what in the world happened with Higashi-san?"</span></div>
<div>
<span>“Eh? You don’t know? It’s about Misumi Makoto-kun."</span></div>
<div>
<span>“The one that became a vice-captain?"</span></div>
<div>
<span>The female students that gathered around the window were curious about the state of Higashi, and were talking secretly with a friend of hers. </span></div>
<div>
<span>“ That’s right. That guy, it seems that he worked hard and became the vice captain."</span></div>
<div>
<span>“Yeah, yeah."</span></div>
<div>
<span>“It seems he misunderstood something, and after that, he confessed to Higashi-san and was rejected."</span></div>
<div>
<span>“Eeeeee!"</span></div>
<div>
<span>“And then, for a while, they were acting as if nothing happened. </span></div>
<div>
<span>" … Oh, so that’s what was happening." </span></div>
<div>
<span>Understanding what was said, the girl who asked the question said ‘So, that’s why’. What she was referring to was, of course, the matter of Makoto’s transfer.</span></div>
<div>
<span>“That’s how it is. There’s rumors saying that he threw away the matter of the archery club and ran away."</span></div>
<div>
<span>“Ugh, how evil. Still, it’s pretty amazing to escape to another country."</span></div>
<div>
<span>It was actually another world. So it was even more amazing.</span></div>
<div>
<span>Throughout history women’s secret talk is secret, and at the same time, not really secret at all..This time as well, it reached the ears of several girls that were passing by. </span></div>
<div>
<span>Shing!</span></div>
<div>
<span>It was as if that sound effect came out from those sharp gazes, and they were directed at the female students. </span></div>
<div>
<span>“Oh, that …"</span></div>
<div>
<span>The two had only been together for a few moment, but created such a stir. However, Higashi’s glare made them stop.</span></div>
<div>
<span>(He didn’t do his best to become a vice-captain! I was the one who was so insecure that went crying to him to become a vice-captain! ! Also, Makoto wasn’t the one who confessed, it was me… I was the one who was dumped!!) </span></div>
<div>
<span>While surprised that all the facts had been completely reversed, Higashi wanted to correct them, but her words couldn’t come out properly. ‘The one who fell in love was me’, if she were to confess, she was sure that he would accept it. </span></div>
<div>
<span>… That’s right. She ‘is’ in love. Not only Higashi, Makoto thinks he has already cut all ties with this world, however, in reality, Higashi was still thinking about him. Inside of her heart, he still remains in a vague form.</span></div>
<div>
<span>With just a gaze and no words, the room became quiet. If they continued to speak, they would be made to regret their secret talk. </span></div>
<div>
<span>“Hey, Higashi. Let’s go. Club activities are going to start soon. The captain shouldn’t be late, right?" </span></div>
<div>
<span>‘It is fine to go now’ is what he signaled to the 2 frightened students from the same year. Both of them lowered their head and left quickly. Higashi quietly sighed.</span></div>
<div>
<span>“I’m sorry, thank you Hyodo."</span></div>
<div>
<span>The look on the girl that began to walk once again, felt as if she had lost a portion of her sharpness. She must have arranged her feelings a bit. </span></div>
<div>
<span>“No, it’s okay. It was sudden, so I can understand that you’re agitated."</span></div>
<div>
<span>The man called Hyodo was also agitated by this. No one knew a man could have been captain in a position traditionally filled by a woman, even he thought Makoto was good enough to be the next captain, filling his position was an important role.</span></div>
<div>
<span>In terms of leadership, Makoto properly looks at his surroundings. He also never missed practice, has bought club equipment and cleaned the dojo, without a single face of displeasure. Thanks to him, the club’s atmosphere was definitely heading in a good direction. </span></div>
<div>
<span>The only complain they would have of him would be that he didn’t enter any tournaments and matches. And hearing the advisor and the instructor that came to coach, it seems that was not out of his will, but their own decision after seeing his abilities. At first they doubted their ears, but they actually did think that he was better than anyone there. His guidance was better than anyone else, so there’s no way someone that can give such good advice would be bad. There’s no doubts that this year’s newcomers will be leaving the best results out of all their history.</span></div>
<div>
<span>“Hey,about what those girls were talking about..." </span></div>
<div>
<span>“Oh, …that."</span></div>
<div>
<span>Surprised that Higashi herself began talking about the topic, he gives a response back. She is also a concerned party. He was considering her feelings and was minding not to touch that topic. </span></div>
<div>
<span>“How did it become such a story?"</span></div>
<div>
<span>The question that sounded like it was filled with regret surprised Hyodo. He was actually thinking that way too. Leaving aside the part about transferring, he honestly thought that Makoto was the one who was rejected. Because it was true that she was being strict with him after all. </span></div>
<div>
<span>Walking through the halls, the amount of people around decreased. That’s because the archery field is far from the main building and field.</span></div>
<div>
<span>“No, there was a period when Higashi was extremely strict with Makoto right? So that’s probably how everyone thought. That maybe Makoto did something to you." </span></div>
<div>
<span>“And how did that something become confessing?" </span></div>
<div>
<span>“Well, I do think that part is unjust suspicion. But in the club there aren’t many girls who talk like that, so I don’t think they were the ones who spread it. Maybe it was some girl in another club or another class."</span></div>
<div>
<span>“Hah~ they really do have time to spare huh."</span></div>
<div>
<span>Higashi Yukari seems considerably amazed. She doesn’t find rumors interesting, so there’s no surprise that she thinks of this as incredibly pointless. </span></div>
<div>
<span>“You know we are… prone to attention after all."</span></div>
<div>
<span>“Attention? Why?"</span></div>
<div>
<span>The captain makes a face as if she truly didn’t know what he was talking about and asked Hyodo. She is the captain of the archery club, which means that every small action she makes erupts into gossip, and yet, she is saying such an apathetic thing.</span></div>
<div>
<span>“No, well, you see…."</span></div>
<div>
<span>“It really doesn’t sit right. But even if they are so free, you can’t underestimate them. They actually were close to the truth."</span></div>
<div>
<span>“Eh?!"</span></div>
<div>
<span>“What’s with that face, didn’t you think it wasn’t far from the truth too??"</span></div>
<div>
<span>“Uh..."</span></div>
<div>
<span>She hit the mark. He didn’t see it himself, but there was something he was sure of after looking back at the situation. </span></div>
<div>
<span>“I don’t care about what other people think, but if misunderstandings remain inside the club, it would be upsetting. Fine, I will tell you what really happened. You tell the boys on my behalf."</span></div>
<div>
<span>She will speak to the girls herself, is what Higashi Yukari implied without saying. </span></div>
<div>
<span>“Is it okay for me to know!?"</span></div>
<div>
<span>“Of course. I have already gotten over it. Also, I will be using this information to my advantage, so it is fine."</span></div>
<div>
<span>“B-But you said it was close to the truth. Then, did it really happen?!"</span></div>
<div>
<span>“You know, it was a~ll reversed"</span></div>
<div>
<span>“Huh, reversed?"</span></div>
<div>
<span>“In truth, I was the one that asked Makoto to become the vice-captain. Or more like, I asked him to be the captain, but he instead convinced me to become the captain. After being convinced, I asked him to become the vice-captain."</span></div>
<div>
<span>“Eeeeeh?!"</span></div>
<div>
<span>“And then, going with the flow, I ended up confessing. To him."</span></div>
<div>
<span>“?!!! Con-fessed?"</span></div>
<div>
<span>"Yes."</span></div>
<div>
<span>"And then… what happened?"</span></div>
<div>
<span>“I was rejected. That’s all."</span></div>
<div>
<span>"!!!!"</span></div>
<div>
<span>“This is the truth, I don’t know how it turned into him being the one that confessed, but the part about the confession really did hit the mark."</span></div>
<div>
<span>Hyodo was so shocked by all this that his mouth was flapping. For Higashi Yukari to rely on a man… moreover, she even confessed. It was something that he couldn’t digest immediately. </span></div>
<div>
<span>Both male and female students fell for her. There are many who confess their love for her regardless of gender. She had discarded and rejected every confession in a single sweep. And for her to confess to Makoto, whose only good trait is being attentive, it was shocking. He even felt that just this one word wasn’t enough to convey his current feelings. </span></div>
<div>
<span>Moreover, he had rejected the archery captain Higashi Azuma.</span></div>
<div>
<span>Heck, how many people would refuse a confession from her in Nakatsuhara high school? Hyodo couldn’t think of any. What if it was himself? He would have accepted immediately. He is also one of the people that admires her after all. It might even apply to the female students.</span></div>
<div>
<span>He somehow tries to think with his currently jumbled mind. That he is glad Makoto is not here anymore. If he were still here, he would have turned more than half of the students in this school into enemies, and there’s no doubt that he would be exposed to violence. And probably, Hyodo would have been one of them, is what he added.</span></div>
<div>
<span>“If someone confesses to me again, I will tell them: ‘Sorry, I like Misumi Makoto.’"</span></div>
<div>
<span>No, Hyodo reconsidered, Makoto would have died... And then, with his still jumbled mind, he began to feel respect for the actions of Misumi Makoto. If someone were to tell him Makoto is a psychic right now, he would believe it. </span></div>
<div>
<span>“This Christmas, I wonder if I’ll storm Vaduz."</span></div>
<div>
<span>She had said so jokingly, but her eyes looked serious from what Hyodo could see.</span>