POV_Chapter_26.5-Hyuman,_The_Truth_and_an_Encounter_~Rinon~


<div>Zetsuya.<br>
It’s the name of the place I’ll be living.<br>
There were also a number living on farthest back on this place that was called the "Last Base" positioned at the edge of the world.<br>
At the foremost line of Exploration and Reclamation.<br>
Although this knowledge of mine that i live by was passed down to me by my Onee-chan, my only family.<br>
The edge of the world was so enormously large that even now, it was told that Hyumans has yet even explore a percentage of it.<br>
Those that inhabit these lands were the "Mamono" whose might was so powerful that it was common tradition to circulate this joke-like information of which was also a harsh reality.</div>
<div>Even still, due to to the valuable resources, formidable enemies and jobs that would only be found here, many adventurers and merchants that arrive here usually cannot separate with the devilish charm of the land and thus stay here.<br>
Somehow, people were able to establish bases by persevering through these wastelands.<br>
There were naturally a lot of establishments that collapsed along the way but as long as the base exist, the foundation of this frontier, there was nothing to worry about.<br>
Disputes among the residents on the other hand were very frequent as many people with short fuses were also living here.</div>
<div>This place, Zetsuya was said to be one of the greatest place to be among the ones established within deepest parts of the base, it even has a track record of existing for more than two decades now.<br>
To achieve what Zetsuya has been aiming for had also become the major objective of those adventurers that were a part of it, somehow i was starting to feel the same.<br>
that was because I’ve heard of it time and time again, i naturally became able to memorize the contents of it.<br>
However, summarizing all of it, this was an extremely dangerous place.</div>
<div>My Onee-chan,&nbsp; Toa is an adventurer at such a place.<br>
Although the work was extremely dangerous, onee-chan had her own purpose for doing so.<br>
So even though we’ve already discussed it a number of times already, we are unable to leave this wasteland and return to the frontier town of Tsige</div>
<div>"Mou, there’s no money. Someday I’ll absolutely learn to understand your habits……onee-chan no baka" (TN: Onee-chan no baka = sister you idiot. Sounds more natural if i kept it that way)</div>
<div>I grumbled a complaint as I sighed looking inside the wallet with only a few money left.<br>
Onee-chan had already crossed the line before this.</div>
<div>Although it was not a matter of life and death, it was already very close to it.<br>
She obtained a large debt due to failing a request to the higher-ups.<br>
The debt was prepared when onee-chan was preparing for he next adventure, well, she has her own ways on going out for request but she had exceeded the time limit that was given a long time ago.<br>
She was unable to stop it.<br>
Then Finally during a request, while somehow being able to keep treading on the edge of a cliff, she completely lost her footing.<br>
Onee-chan’s injuries were heavy but were healed somehow and the money she had left were able to cover the fees but.<br>
Eventually, she was not able to return home at the house that the two of us lived in.<br>
For the sake of repaying the debt she needs to work for it, this was later informed to us by a person whom I didn’t know.<br>
And that was how the story ends.<br>
This was the story that i had formed after listening into the conversation of the adventurers that had returned.<br>
Learning about the state she was in my body trembled.<br>
Because, I felt that it was the same as being told to not being able to meet onee-chan again.<br>
Furthermore, it’s impossible for me to keep on living by myself from here on out.<br>
I don’t have any practical skills that i can use for work nor the ability to become an adventurer.<br>
The only ones that has work here are those with adventurers as relatives.<br>
However i only have myself now.<br>
When Onee-chan disapperared, It had meant that the remaining time i have left had begun it’s countdown.<br>
Living here is dangerous.<br>
While it may be true that money would be made if I return to Tsige, there’s nothing left with me to use.<br>
Money would likely be essential to have (there’s not much left though, for now i’ll needgo out.)<br>
In order not the attract the gazes of the public, i regulated my breathing and hid and then&nbsp; bared myself for a life on the road.<br>
How i would be able to learn of onee-chan’s current state and a way to change her circumstances, that time i still hadn’t know how.<br>
But i was worried, scared and lonely.<br>
The last thing that comes to mind was what I had thought, onee-chan.<br>
My one and only onee-chan, even though we sometimes get into fights no matter what happens, I understood that she will always be an important person to me.<br>
Fortunately i was saving for myself so living by myself for a little while should be possible.<br>
No matter how many days it take, I’ll drink water little by little, and at the time i reach my limit finally eat a meal.<br>
I would somehow be able to survive everyday while slowly gathering&nbsp; information regarding onee-chan’s circumstances.<br>
And then, at such a time, it happened.</div>
<div></div>
<div>"you, aren’t you Toa’s sister. ah, Rinon, right?"</div>
<div></div>
<div>"……"</div>
<div></div>
<div>I didn’t answer.<br>
I held my voice in and didn’t answer as i might encounter the same fate of Onee-chan who was captured.<br>
That’s why even though my sister’s name was blurted out, i have no plans of showing any intention to respond."Even if you stay quiet, we’ve already investigated you so give it up already. Generally, the children here wouldn’t even be able to escape right? Continuing to live poorly outside, It’s only a matter of time before you dry up and freeze to death. There’s already a magic formation laid out by security around here so even if you do sneak around as quietly as you can, it will only be a matter of time before we find you again."Uuu.<br>
I bit my lips.<br>
It hurts, but i’s vexing.<br>
Certainly, living by myself without being seen by anyone is not a reason.<br>
As it was said, living outside within the wastelands and it’s harsh environment, i’m not sure if i can even live for a day.<br>
As long as it was within the base even during the night, it would still be livable to some extent with some preparations to be made.<br>
To think that i would be caught because of a laid out magic formation, I had somehow approached it and carelessly placed myself in a situation where i would have been killed.<br>
I haven’t thought about any of it at all.<br>
But……to be discovered simply like this was something i didn’t expect."Don’t glare at me with a face that’s about to cry. You see I, I really think oujou-chan did great persisting this far. Ain’t that right?"<p></p>
<p>"……"</p>
<p>Therefore what are you saying？<br>
Will you give me something as a reward？<br>
Are you going to return my Sister?</p>
<p>"As of now there’s nowhere to go to. You’ve already been entrusted to me to some extend anyways. Don’t you want to meet Toa？ Your onee-chan has yet to reach the needed income for the debt, and we can’t exactly overlook your circumstances so we’ve decided to take you with us."</p>
<p>"Aaah! Onee-chan is doing well!?"</p>
<p>"Ooh?　you finally opened your mouth eh. That’s right, Toa’s still safe. But you know?　that Onee-chan of yours had gotten involved in something bad, I especially came here myself to inform you of this."</p>
<p>"Something bad? What kind of bad?　What will become of Onee-chan?"</p>
<p>The frightening feeling i had when she left the house was returning again.<br>
In my head, there was a possibility of not being able to meet her again, that was what i had felt. But if what he was saying was true then I thought I……Uun, let’s not think about it.</p>
<p>"……At this rate, listen well as she may no longer open her eyes. And in the worst case, Die. But I can lead you to a place where she currentlu is at."</p>
<p>"!!"</p>
<p>tha-that’s impossible.<br>
No.<br>
No, No, No NO!――</p>
<p>"However!"</p>
<p>"Uun!"</p>
<p>"Saving your Onee-chan depends on you. I’ll explain to you in detail on how you would be able to achieve this."</p>
<p>"……eeh?"</p>
<p>"Rinon, you are a smart kid. In this way, you can do your best as a child……Don’t you want to save your Onee-chan?"</p>
<p>The old man broke into a grin as he was evaluating me with such detestable eyes.<br>
Do yo want to save her?<br>
The answer to that had already been decided</p>
<p>"I want to save her!"</p>
<p>"Of course you do. That means you’ll listen to my request right? What, it’s really not that of a difficult job actually. If it’s you that’s a smart kid, it might even become more simpler"</p>
<p>If it’s something i can easily do, i want to know what it is.<br>
I was fond of drawing and painting things but i understood that it was impossible to do business with.<br>
It was unprofitable.<br>
Such a thing was my hunch.<br>
Wha-what if……Even thought i’m still child like in appearance, i am still technically a girl.<br>
I remembered my sister telling me of such a thing that i prepared my mind for it, such men with hobbies like that really do exist.<br>
But, if such a thing can make Onee-chan return……i’ll bear with it.<br>
I’ll have to bear with it.<br>
Although my breathing was somehow getting unpleasant, i couldn’t bring out any words to say it.<br>
I naturally gritted my teeth and toughened my face because I understand what needs to be done.</p>
<p>"……Rinon, you’re drawing out too much strength. What? If i tried to sell your body people would definitely kills me, I will not do such a thing so there’s nothing to worry about. Relax, relax."</p>
<p>What kind of face was i making that what i was thinking was actually seen through.<br>
But that definitely gave me some peace of mind.<br>
This guy is probably bad man but he was telling me that i can go and save Onee-chan.<br>
You can somehow see what i am thinking from my face so the reason why he had come here was surely for the same reason.<br>
I don’t know as to what extent should i believe this old man but no good would come out for me and Onee-chan if I oppose him at this point.<br>
I had an unreasonable face as released the tension from my body, I listened to this words and nodded in agreement as i relaxed myself.</p>
<p>"What a good child. Now then, Rinon. There was an event a while ago that cause an uproar in the base, did you know?"</p>
<p>"……well, something really strong came to attack but it retreated without doing anything something like that, are?"</p>
<p>"that’s right. It’s regrettable not to keep clever children like you. That certain incident had already passed greatly but right now, did you know that there’s another uproar that’s about to happen in the Guild House？"</p>
<p>"……that, i don’t know"</p>
<p>"A gag order was immediately ordered here……Indeed, there was also an issue to keep silent regarding it. Not knowing about it is not being unreasonable. It’s just that i was able to grab hold of it, there were two really strong women, and they apparently came to register"</p>
<p>"A woman, and two of them at that"</p>
<p>"Correct. I’m not sure if it’s related to the matter earlier but i have some people who cares about it. It’s that guy, the man wearing a mask with the suspicious looking appearance. I want you to take my place and investigate those two women, all three of them."</p>
<p>"M-Me!?"</p>
<p>"That’s right. What? I’m not telling you to fight, i just want you to cooperate with us. That’s why i want you, Rinon, to successfully infiltrate their group. I don’t care what kind of method you use to do so as long as you can get information out of them. A child abruptly asking them if you can lend a hand wouldn’t be too suspicious and would give them a peace of mind right?</p>
<p>There’s no way i can do this.<br>
I heard that those adventurers with very high levels posses amazing intuition and had already stopped being Hyumans that even lying would get seen through.<br>
This is something enormous, something that’s terribly strong.<br>
If I were to lie to them, I’ll certain that I’ll get discovered……。</p>
<p>"I, Such a thing, I will――"</p>
<p>"Your Onee-chan will die, are you sure？"</p>
<p>"!?"</p>
<p>As i was about to refuse, my words suddenly stopped as i told my self to absolutely not utter the remaining words.<br>
I see……I have, no choice.<br>
Of course, even if i do refuse, right now even i would be……<br>
Why me, why was i in such a place.<br>
I want to cry.<br>
I want to let it all out and cry.<br>
But then i thought to myself, they took all the trouble of searching for a child so if i do refuse, they’ll look for another child as a substitute.<br>
That’s definitely it.</p>
<p>"……do it. I’ll do it!"</p>
<p>"Then it’s decided! I promise you Rinon. If you work hard at the job we have given you, we will definitely let you meet your sister"</p>
<p>"Definitely? You’ll really let me meet Onee-chan?"</p>
<p>"Yes, I tell no lie. You will definitely meet her"</p>
<p>"I’ll do my best. I’ll make sure to gather a lot for you guys"</p>
<p>"That’s the spirit. fufu, well then come over here. I’ll teach you what that guy looks like"</p>
<p>"Right now?"</p>
<p>"Isn’t it obvious. We will have you get to work very soon. That guy’s actually having his meal right now. Our guys were willing to skip over the details to know that guy’s circumstances. Look at him, remember his face, once he returns at the inn they stay at, you will make contact with him, understand?"</p>
<p>"I-I’ll be doing it today!?"</p>
<p>"What? We’re going to send you to work quickly, don’t you want to meet your Onee-chan？"</p>
<p>"……I got it. I understand."</p>
<p>I was guided inside a warehouse like building..<br>
What was inside was a desk, above it was a large crystal like ball that reflected my entire face。<br>
Looking at the old man, he pointed to it and then held his chin.<br>
So i do need to look into that thing.<br>
Oneechan, I will definitely do my best.</p>
<p>◇◆◇◆◇◆◇◆</p>
<p>Kachakacha (Sounds of rattling)<br>
Facing each other, the two them were eating their meal.<br>
Uwaah, this place is terribly expensive.<br>
Instead of three people, there were only the two of them&nbsp;but, I definitely must get information that i need from them.<br>
First one would be, that&nbsp;guy.</p>
</div>
<div>He was quiet, with the exception of eating politely everything else was normal.<br>
Though I haven’t caught wind of using the fork and knife in such a way, as if it was natural to use it with both hands to eat in eating a meal.<br>
But his appearance was terribly odd.<br>
I am not sure if it’s his hobbies or bad taste but, wearing an odd looking robe and a mask that covers his face from the eyes above definitely doesn’t match a person who owns a store.<br>
There was this calm feeling but anyhow, I think this person is definitely suspicious. I’m not even sure of his age.</div>
<div>The other person on the other hand was very lovely.<br>
She had a nicely trimmed beautiful black hair and was wearing beautiful clothes that i had never seen before.<br>
Just like Onee-chan, but&nbsp;a little older.<br>
She was very elegant, that even those from inside the shop would agree.<br>
But that was only in appearance though.<br>
Even if you think about it while observing, the mood would change with that kind of eating.<br>
The knife was left alone on the table.<br>
Only using the fork, person after person had been carrying in and out plates from their table while she stuffs the food into her mouth excitingly.</div>
<div>It really looks good but……somehow, this was wasteful.</div>
<div>Even though she was likely raised excellently, there was not an ounce of Table Manners that can be seen in her.<br>
But the man which was her partner seems to understand her quite well, as i thought, i give up.<br>
The two of them seemed to be whispering something among themselves &nbsp;but, i really wasn’t able to take hold of&nbsp;what it was about.<br>
I was able to see a different spectacle before me but,&nbsp;the noise that was reverberating through here was different from all the other shops so you’ll really need to focus in order to listen into their conversation, else you wouldn’t be able to really understand any of it.<br>
Unexpectedly, my stomach grumbled.<br>
I hit my stomach unintentionally with my hand in response to it.<br>
Because, I really can’t help it……</div>
<div>Honestly, it had already been two days since i last ate a proper&nbsp; meal, if anyone were to see this scenery of deliciously looking food I’m sure that even them……<br>
I shook my head sideways to clear such thoughts.<br>
This isn’t good,&nbsp;right now is not the time to be to be like that and get&nbsp;embarrassed.<br>
Excluding the two of&nbsp;them, i can see from a distance the figures of a couple.<br>
In this base, it’s very rare to see someone who was well clothed.<br>
The ones that do are occasionally the merchants who had come to do business, they&nbsp;usually&nbsp;give out the feeling of being part of some noble group.<br>
To be having their meal in such a place, as i thought, aren’t these two people rich.<br>
If so, i was told to approach them but after looking at myself, i was wearing dirty and ragged looking clothes.<br>
What should i do。<br>
Following what the old man said, it really would have been better i had asked for some clothes……<br>
I was trying to think very hard regarding some things however, i really can’t help myself but stare motionlessly at the scenery of the masked man and black woman that were eating.</div>
<div>Are?<br>
Somehow, the man with a mask, did something.<br>
I wonder, i seem to let my guard off lightly……。<br>
His hands that were taking the meal suddenly stopped and&nbsp; and the woman seemed that she would do the same.<br>
I think it would have been good if they spoke though……。<br>
To a degree, that state of silence continued for some time.<br>
I then saw that the&nbsp; hands of the black woman had already stopped.<br>
Becoming distressed, feeling down, somehow, it was very cute of her.<br>
aah… I see.<br>
Could it be that.<br>
Those are writings?<br>
Could it be possible that instead of exchanging conversations, they were using characters instead.<br>
Unless i look at it from a different angle, i wouldn’t be able to accurately see what he is saying and if i did do so, maybe i would learn why the black woman’s facial expressions were changing frequently.<br>
I wonder what would happen if i were to raise my voice, at time, would they caught wind of who i was and get suspected?<br>
Being surprised would be good, I don’t mind if it’s like that as long as it’s going into a calm direction.<br>
Somehow, I felt that the mood of the man with the mask had turned bad.<br>
He doesn’t seem pleased with the surroundings as they were giving a lot of different impressions and feelings.<br>
Seeing those that were around, i can’t help but feel that it really give that kind of impression.</div>
<div>Aaah, they stood up.<br>
After eating the deliciously looking ice cream, the both of them stood up from their seats.<br>
Even though the man with the mask was somehow only drinking water, the black woman was drinking a colored drink within and after the meal.<br>
Probably, that was alcohol.<br>
She continued to drink the water like substance then afterwards ate ice cream and then raised the last filled glass above and drank it.<br>
Each time it would be emptied, the waiter would come and fill it up for her that i can’t help but think that they may have drank more than the bottle i saw when i wasn’t looking.<br>
And yet, when the two of them stood up the man with the mask wasn’t even drunk and was even fine walking on their own.<br>
Surely, this man was one of those people that can drink alcohol without even getting drunk.<br>
Onee-chan was somehow like that, she was aware of how much alcohol she can handle but i still remember her coming home drunk and collapsed.<br>
Even if it was just a little, I suddenly remembered Onee-chan.</div>
<div>"Finally they’re out. The woman most likely had more of the alcohol. Even though he got herself drunk, somehow she’s able to skillfully use her hands to keep her balance."</div>
<div></div>
<div>"Old man. I, Would i be fine with these clothes? As your partner, are you not going to lend me some?"</div>
<div></div>
<div>
<p>"Clothes eh……Isn’t it fine. I was looking for your sister when i was gone a while ago and if I do say so myself, it would be unnatural for you to be wearing clean clothes. So it’s fine as it is""……OK" (TN: Originally it was "hai")</p>
<p>"I understand the circumstances so observe from a distance, you’ll do just fine."</p>
<p>We’ll have to see.<br>
Keeping watch indeed would have a different meaning.<br>
I having chills run down my back.<br>
Mou, I have no choice but to do this.</p>
<p>"It’s going to be fine."</p>
<p>"Then let’s go. We’ll be going to the place where we’ll be meeting them. It’s this way"</p>
<p>As I was told to, I walked through the streets dressed in tattered clothes.<br>
It was a place with not much people.<br>
I was left at the end of the road and stood there by myself.<br>
I was being watched from afar so i failure was not an option.<br>
Even though I was afraid of the streets at night some time ago, I had already forgotten about it and felt that I became afraid of something else instead.<br>
They came.<br>
The two of them finally arrived.<br>
Their silhouettes looks exactly the same so there’s no doubt that it’s them.<br>
I left from the end and walked towards the middle of the road to wait for them as they approached.<br>
In order for them to surely stop, I positioned myself at a place that would definitely interfere with their advance.<br>
The woman and masked man stopped in front of me with just a little distance between us.<br>
As if to whisper something, the woman drew near and spoke to the masked man.<br>
As i thought, I can’t hear what they were discussing.<br>
A moment later, my legs began to tremble.<br>
But being unable to speak of my circumstances, the woman had already finished her talk and looked at me。<br>
tsutsutsu! (TN: She’s making sounds in her head here, lol)<br>
When our eyes met, I felt that the sensation from my legs disappeared.<br>
I felt that a part of my body from the waist down had completely disappeared.<br>
I’m scared.<br>
This woman is scary.<br>
I tried to look with my eyes.<br>
And for the first time, mine met with hers.<br>
Those eyes were something that showed no interest, like it was somehow looking at something of no value, it was those eyes. Like i was not even seen as a person, immediately i knew.</p>
<p>"Child. Do you need something?"</p>
<p>"th-that, I-I was"</p>
<p>"You’re in the way, move aside."</p>
<p>"Hii" (TN:Sound of being afraid)</p>
<p>It was neither cold nor warm.<br>
Either of those words were painful to me.<br>
All of the feelings i had earlier were gone in an instant and when i came to, i wasn’t even aware of how much time had passed.<br>
The feeling from my legs were still not there that i had to confirm by touching them through my fingertips. I am still here, that was what i told myself.<br>
I felt that i was useless.<br>
Even if no one had told me so, I had failed and felt terribly sad.<br>
But,before the woman was able to say something, the man with the masks swiftly struck the woman’s head that it produced a "Supaan~" sound.<br>
I really heard a "Supaan~" sound.<br>
It didn’t really matter anyways but i was really surprised.<br>
The masked man was telling something to the woman while pointing his right hand in the air.<br>
Ohh, As i thought it, he was writing in the air.<br>
It’s the common language.<br>
It was the one that Hyumans use.<br>
As long as it’s through speaking, you can communicate as long as your are a Hyuman with the blessing of the Goddess.<br>
Although I’m no good in reading and writing as i didn’t study, that in itself is something i can somehow do and try.<br>
Well then…</p>
<p>［Such a small girl, even though you’re my partner. What were you trying to do by intimidating her]</p>
<p>"T-To intimidate her, something like that, i didn’t do, waka-sama. I was just trying to remove the hin……"</p>
<p>[I was just want to hear if she had some business with us. How did it become a discussion of removing someone.]</p>
<p>"Because, she wouldn’t even have such a thing …… In addition to that, It’s not very interesting to have my walk with waka-sama be disturbed……"</p>
<p>The woman was using common language to answer the masked man writing’s.<br>
The feeling the woman was giving off towards me was different somehow, a warm feeling but also a troublesome feeling.<br>
Somehow, it was the same feeling that she was giving off when she was eating.</p>
<p>"fufufu"</p>
<p>Oh my, before i can even think about it, i had suddenly changed into a smile.<br>
Settling on the crowd as it is, I laughed while watching the two of them.<br>
The person whom i had thought was terribly scary was laughable right now at their exchange, such a thing like fear was already gone.<br>
Looking back, even i was stupid enough to think about it but it was already too late to do so.</p>
<p>"what is it that am i doing that’s funny?"</p>
<p>[Stop it Mio. It’s already fine anyways]</p>
<p>The man with the man approached me</p>
<p>[It seemed like you got frightened earlier, I apologize for that. This writing, are you able to read it?]</p>
<p>I nodded.<br>
I wonder what it was with this suspicious looking person<br>
Somehow his eyes were not hidden by his mask and gave out a strange feeling.</p>
<p>[I’m glad. Did you need something from us?]</p>
<p>I can feel that the masked man was writing his words in the air gently.<br>
That was the feeling of the voice earlier, I wasn’t aware of what it had meant but I&nbsp; knew that what i had felt before that this person was definitely a man.<br>
He didn’t care if his robe would touch the ground and crouched down so that he would be able to see my face.<br>
I see.<br>
This person is……。</p>
<p>"I, I am called Rinon."</p>
<p>[Un. So it’s Rinon-chan. I am called Raidou. that person is called Mio. We’re traveling merchants.]</p>
<p>He nodded his head slightly and pointed at the woman with his hands.<br>
Somehow, the movement seemed a little grandiose<br>
This person, even though i’m a child, still treated me as someone he does business with.<br>
This is, this thing right now was very unthinkable.<br>
Even though it’s known that I’m just a weak child with no money.<br>
Raido-san was very gentle and i can tell that most of what he said are what he truly felt, I can see that he was a good person.<br>
To be able to meet such a friendly person in Zetsuya was as i had thought, very unlikely。</p>
<p>"Well, I have a request."</p>
<p>[For me?]</p>
<p>"Yes. That is"</p>
<p>[You can slowly tell me. Calm down first and speak.]</p>
<p>I really can’t understand his motives.<br>
And by the time i saw his writings.<br>
I, suddenly remembered the feeling of Onee-chan not being able to return, it was something i always put up with that and had accumulated within me.</p>
<p>"Uuu, fue……"</p>
<p>[Rinon-chan?]</p>
<p>"U, Uuuuu……just rinon is fine, Uaaaaaーーーn!!"</p>
<p>I threw my arms around the person that i had met for the first time before me.<br>
No, clinging to him was a better description.<br>
But i could no longer feel any strength from my legs and could only cling to Raido’s knee while i use my other hand to wipe the tears off my face.<br>
Half of me was lying on the ground with a bad posture</p>
<p>"Wha!? This, go away, eh, eeeeh!?　but waka-sama, your clothes would get dirty, that, doing such a thing for this one girl, uuu, yes……I understand,If it’s fine with waka-sama! mou!"<br>
Mio, she was saying something to Raido and me but it seemed far away.<br>
Raidou seemed to be trying to tell me something but i wasn’t able to see what it was and could only hear my loud crying voice.<br>
I only wanted to search for my sister, I somehow blurted it out while screaming, if i somehow said something else i no longer remembered much.<br>
And so this was how I met the strange but friendly and mysterious Raidou-san.</p>
<p>◇◆◇◆◇◆◇◆</p>
<p>Within the merciless rays of light that shone at noon.<br>
I returned to the inn where Raidou-san was staying at.<br>
The mood doesn’t seem to be good.<br>
Uun, This is the worst.<br>
I really looked lame last night with all that crying and screaming and had decided to stop by the luxurious room where Raidou-san was lodging.<br>
In there was one of the fabled strong woman in the story that i had heard.<br>
She was called Tomoe, another person also seemed to be lying down on the bad.<br>
Looking around, I can see that it was an amazing room.<br>
I suddenly felt nervous at the once i entered the inn, and when I still remembered the time when i entered the room as i looked like an idiot with my mouth wide open.<br>
Looking at the room, even if you break it down into pieces, it was still larger than the place where mye and Onee-chan had lived at.<br>
Furthermore, the room was sparkly and decorations can be seen that i felt that it was similar to a room of a princess.<br>
I was looking at Raido-san like it was natural for him to stay in this room, whether who or what this person was, I still do not know.<br>
At this time i thought, the he was definitely a person with plenty of money.<br>
I was told that Raido-san had an illness and was told of a story that occurred a long time ago where he was cursed to not being able to use the common language.<br>
At first i thought that it was the work of the Mazoku but it seems that it was different.<br>
But for some reason, i was somehow thanked by Tomoe.<br>
I wonder what had angered her in the middle of telling the story.<br>
Somehow, it also felt like she was preaching.<br>
The two of them lied down and was talking about something regarding a person not being a man but a woman.<br>
I was brought to another room and was asked of the features of Onee-chan and afterwards was asked to clean myself.<br>
Somehow after that i quickly fell asleep.<br>
The main reason for it was the hot water.<br>
It really felt good but.<br>
……I really don’t want to remember the color of the water after i had finished wiping my body .<br>
I had made sure to properly clean the cloth that i used to wipe myself to i definitely won’t be found out.<br>
Come to think of it……I was praised of my skills in drawing when i was asked to sketch a portrait of Onee-chan.<br>
It’s only a picture that i drew but when i was somehow praised that my drawing was good, i really put my all into it and drew the best picture that i can do.<br>
I was really happy to be praised for something that i really liked to do.<br>
When Raidou-san saw the picture that i drew, he really showed a surprised face and stared at my sister’s picture for some time.<br>
For a moment, I thought that those like my sister was his type but i began to differ otherwise.<br>
The following day, or this morning in short, at this time the gentle atmosphere was back but.<br>
Raido-san, when I&nbsp;was trying to get much more friendly with him by calling him onii-chan, he suddenly told me that he was reminded suddenly of his sisters,<br>
But he was making an unpleasant face as he was telling me this,&nbsp;however i told him that it was easier if I called him that way.<br>
By this time, we were already getting accustomed to exchanging conversations by written communication and speaking and decided to insistently call him Onii-chan.<br>
In fact, I was having difficulties trying to call him Onii-chan the first time but got really used to it after calling him that a few times.<br>
I was told then to not really mind as to how i should call him.<br>
The two woman accompanying him were already gone so Onii-chan and I prepared ourselves and went to the Trading&nbsp;guild as merchants.<br>
I carried the luggage into the coach and was going to ride inside it but somehow, Onii-chan doens’t seem to know as to how to operate the horse drawn carriage despite being a merchant.<br>
It was unbelievable.<br>
From his demeanor i thought that he was rich but instead felt that he was incredibly rich.<br>
I reluctantly held the reins and proceeded in heading into the trading guild.<br>
There was a place that you can go if you want to sell things however the trading guilds does the task of selling and buying together.<br>
I was mistaken as a slave in there because of the tattered clothes that i was wearing but Onii-chan quickly denied it&nbsp;and i really didn’t mind about what the merchant had said<br>
I was usually looked down upon so i was really surprised to see that the person earlier lowered his head in apology.<br>
Afterwards I…… Into the place where Onii-chan was staying at, excitedly returned once more and was about to flew in.<br>
But I then met the old man.<br>
Somehow, if Onii-chan were to hear what we were going to talk about, he’ll learn all of it.<br>
I was having this very unpleasant &nbsp;feeling, it was growing inside of me and getting larger, all this time &nbsp;i have been telling myself that it was for the sake of saving Onee-chan.<br>
But what the information the old man gave me was not enough, he told me that i wouldn’t be able to meet Onee-chan anymore.<br>
This was different from the promise!<br>
I begged desperately.<br>
Onii-chan and Onee-chan.<br>
Even though I loved the both of them, as i thought i can only choose one and definitely it’s going to be Onee-chan。<br>
Onii-chan was really kind and gentle but he was not truly my brother.<br>
Oneechan was the only family that i have and was at a place where she was helpless,<br>
If Onii-chan were to hear this, I would certainly get told to and abandoned but still, i continued to beg the old man.</p>
<p>"If you insist so much you leave me with no choice. Do one last job. Then I will return you your onee-chan. I will also forget about your debt"</p>
<p>"!! You are able to do something like that?!"</p>
<p>"Yes, It’s actually simple. Listen well, right now Raidou-san is carrying 500 Gold coins.&nbsp;I want you to bring it to me.&nbsp;There was also a chance that you would get doubted but we can easily take care of him. Somehow, the only strong ones are the two people that were his companions, he doesn’t seem to be that much capable of doing anything so dealing with him would be simple.</p>
<p>"I-I can’t do that!That’s stealing!"</p>
<p>As i was&nbsp;about to say that, i held my mouth with my hand.<br>
I-I can’t……I can’t tell him that.</p>
<p>"Again, you’re unable to do tit eh? I really don’t mind though?"</p>
<p>"……you want me to steal everything?"</p>
<p>"The gold was definitely placed into the bag, being able to see it should be simple. Carry the bag, and bring it to me."</p>
<p>"But,&nbsp;If either Mio or Tomoe were to return, it would turn into something serious……"</p>
<p>"Then at the time, why don’t you just apologize? Just make sure that after you steal it, you will drop it at a place where i can pick it up later on"</p>
<p>"Such a thing……"</p>
<p>It’s unfair.<br>
This person is the worst.<br>
Why Onee-chan?<br>
In what way were you able to acquire such a large dept in such a place?<br>
Even if it was for the sake of our ancestors, &nbsp;it no longer involves us!<br>
Even though it would have been plenty to have lived enough on any town!<br>
For me to steal money from a very kind and amiable person, It was absolutely worst.<br>
Absolutely, the worst, and yet……!</p>
<p>"I’ll be needing to return to the mansion anytime now.&nbsp;Rinon, what will you do?"</p>
<p>"I’ll return, immediately"</p>
<p>"You reeeeaaaaly are a GOOD CHILD, Rinon"</p>
<p>Shut up!<br>
I wanted to yell that at him.<br>
But i can only keep it to myself and murmur it in my heart.<br>
And then, I now headed to Raido’s room.<br>
Stealing money from my person that helped me find my sister and my benefactor was definitely the worst<br>
The worst.<br>
I ‘m, the worst.</p>
<p>"tsu?"</p>
<p>The floor, I felt that it suddenly shook.<br>
An earthquake? (TN: I hate to break the drama but you already know what happened here)<br>
But an earthquake occurring at Zetsuya was something that had never happened even once.<br>
Again.<br>
This time it was quite a shake.<br>
It was as if i was being tossed to the side, It was that large of a shake.<br>
Instantly i looked out of the window.<br>
In order not to to fall, i grabbed the edge of the window with both of my hands</p>
<p>"eh？"</p>
<p>Something’s, strange.<br>
What i saw with my eyes was something i still couldn’t beleive.<br>
I soon noticed what this strange feeling that i had was.<br>
There was a building in the town that was being reduced to dust.<br>
Again, It shook.<br>
AAaaah.<br>
I finally found the reason why it was shaking.<br>
There was something dark covering the building, slowly swallowing and crushing it.<br>
It was strongly eating away at it that the vibrations it was making was reaching here.<br>
Not only that.<br>
After the dark like thing was done eating the other build, another building was cut in half.<br>
It was sliced in half cleanly like it was slashed with a sword.<br>
Afterwards, the building turned completely white, collapsed and disappeared as it turned into dust.<br>
This time there was no shaking.<br>
Somehow I didn’t feel scared.<br>
It wasn’t that i was afraid but perhaps because &nbsp;i was too scared.<br>
At that time I was suddenly reminded of the two women accompanying Onii-chan, Tomoe-san and Mio-san.<br>
If it’s those two people, I thought that it may be possible for them.<br>
I got found.<br>
Is what i had thought and at the same time i closed my eyes.<br>
The reason was not because you were stealing money!<br>
It won’t do even if you apologize, Zetsuya will become nothing!<br>
I went toward’s Onii-chans room and hurried to the entrance of the inn.<br>
Where is it, i was looking within the range of what i can see!<br>
I ran through the where the entrance was, afterwards i stood still.</p>
<p>"There’s, nothing?"</p>
<p>What i saw first and foremost, at the place where the old man was supposed to wait, there was already no one in there.<br>
Uun.<br>
At the place where from the inn where you would see a lot of buildings standing, right now, there almost nothing to look at anymore.<br>
There wasn’t even any people here.<br>
As if looking for the first time at the figure of Zetsuya.<br>
My feet stopped when i reached the entrance of the inn and had looked at my surroundings.<br>
I saw a&nbsp;silhouette move.<br>
What i saw was more than<br>
Looking closely, there was more than one of them.<br>
In there was a person that seemed to look like Onee-chan.<br>
Other people were in there too but my legs had already stopped moving.<br>
The only ones moving were those two.<br>
Tomoe-san and Mion-san.<br>
As i thought, it was those people that did it.<br>
In the twenty years that this base had existed, in a place where there wasn’t even a hole, it had completely changed.<br>
I can’t stop my body from shaking.<br>
Why was it that i was trembling, I was thinking that i was scared earlier.<br>
In a straight line where i was at they were advancing, Uun, in the place where Onii-chan was staying, the two of them are now returning.<br>
As soon as i noticed that it was indeed Onee-chan that they were carrying while heading here, I immediately&nbsp;broke into a run towards them.</p>
<p>"Onee-chan, I’m glad……that you’re doing well"</p>
<p>Finally at this time, I was now sure of Onee-chan’s safety.。<br>
I was so happy.<br>
I was happy but thinking what would happen to me afterwards, i was starting to get really anxious.<br>
i wonder what would Onii-chan say after looking at what had happened.</p>
<p>◇◆◇◆◇◆◇◆</p>
<p>Right now, I’m currently at a carriage handling it’s reins.<br>
The one staying next to me was Mio-oneechan.<br>
Staying on the other side was Raidou-oniichan.<br>
And currently I am in the middle of them.<br>
Inside the carriage was my sister lying on the bed along with the other adventurers that were held with her.<br>
Tomo-oneechan was the only one left bellowing&nbsp;after being told by Onii-chan to head into the wastelands.<br>
No matter how deeply i think about it, it was useless.<br>
Onee-chan was some how alive.<br>
Onii-chan was together with us to send us back to Tsige.<br>
Since Mio-oneechan was also here, so there was absolutely no reason to be afraid.<br>
I felt that we were very lucky having them.<br>
That was because we were heading to town in hopes of healing our ways of living.<br>
Thank you! Raidou-oniichan, Mio-oneechan, Tomoe-oneechan.<br>
Even though i’m too shy to tell this to them personally, I really have the greatest gratitude towards them.<br>
I &nbsp;was then thinking of drawing and painting pictures as a way to earn money even if it was little by little. And so with me handling the reins of the carriage, we were now moving&nbsp;towards Tsige.</p>
</div>
</div>